{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div style="margin-top: 2%!important;" class="row justify-content-md-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5>Sign Up</h5>
                </div>
                <div class="card-body">
                    <form method="POST">

                        <div class="form-group">
                            <label for="email">Email Address:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="firstName">Email Name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="password1">Password:</label>
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
                        </div>
                        <div class="form-group">
                            <label for="password2">Password (Confirm):</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
                        </div>
                        </br>
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}